<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>logOut</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="~/Content/logOutCss/base.css">
    <link rel="stylesheet" href="~/Content/logOutCss/main.css">
    <link rel="stylesheet" href="~/fonts/fonts/Roboto-Regular.ttf">
    <link rel="stylesheet" href="~/fonts/fonts/Roboto-Medium.ttf">
    <link rel="stylesheet" href="~/fonts/fonts/Roboto-Light.ttf">
    <link rel="stylesheet" href="~/Content/icon/fontawesome-free-5.14.0-web/css/all.min.css">
</head>

<body>
    <div class="cont">
        <div class="form">
            <h2>Sign Up</h2>
            <label>
                <span>name</span>
                <input type="Name" name="Name">
            </label>

            <label>
                <span>Email</span>
                <input type="Email" name="Email">
            </label>

            <label>
                <span>Password</span>
                <input type="Password" name=''>
            </label>

            <label>
                <span>Confirm Password</span>
                <input type="Password" name=''>
            </label>
            
            <button class="submit" type=button>Sign Up Now</button>
            <div class="sub-cont">
                <div class="img">
                    
                    <div class="img-btn">
                        <button class="m-up">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</body>

</html>